<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container modal-body">

    <h1 th:text="${title}">Default Title</h1>

    <nav th:replace="fragments :: navigation"></nav>


    <form method="post" action="/cheese/edit" style="max-width:600px;" th:object="${cheese}" class="form-inline">
        <label>
            <input th:field="*{name}" th:placeholder="*{name}" autofocus="autofocus" onfocus="this.select()" />
        </label>

        <label>
            <input th:field="*{description}" th:placeholder="*{description}" />
        </label>

        <label>
            <select th:field="*{category}" name="categoryId">
                <option th:each="category : ${categories}"
                        th:text="${category.name}"
                        th:value="${category.id}"
                        th:selected="${category.equals(autoSelectedCategory)}">
                </option>
            </select>
        </label>

        <label>
            <button type="submit" name="action" value="update" class="btn btn-warning">Save Edits</button>
        </label>
        <label>
            <button type="submit" name="action" value="delete" class="btn btn-danger">Delete Cheese</button>
        </label>

        <input type="hidden" name="id" th:value="${id}"/>

        <div>
            <br />
            <h5><small th:errors="*{name}" class="alert alert-danger"></small></h5>
            <br />
            <h5><small th:errors="*{description}" class="alert alert-warning"></small></h5>
        </div>
    </form>

</body>
</html>