<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" >
    <head th:replace="fragments :: head"></head>

    <body class="container modal-body">

        <h1 th:text="${title}">Default Title</h1>

        <nav th:replace="fragments :: navigation"></nav>

        <p>Owner: <span th:text="${menu.user.username}"></span></p>

        <p th:unless="${menu.cheeses} and ${menu.cheeses.size()}" > no cheeses :( </p>

        <div th:if="${menu.cheeses} and ${menu.cheeses.size()}">Cheeses:
            <ul>
                <li th:each="cheese : ${menu.cheeses}"><a th:href="@{'/cheese/edit/' + ${cheese.id}}" th:text="${cheese.name}"></a></li>
            </ul>
        </div>

        <div>
            <span><a th:href="'/menu/edit/' + ${menu.id}">Edit Menu</a></span>
        </div>

    </body>
</html>