<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
    <head th:replace="fragments :: head"></head>

    <body class="container modal-body">

        <h1 th:text="${title}">Default Title</h1>

        <nav th:replace="fragments :: navigation"></nav>

        <p th:unless="${menu.cheeses} and ${menu.cheeses.size()}" > no cheeses :( </p>

        <p>Owner: <span sec:authentication="name"></span></p>

        <div th:if="${menu.cheeses} and ${menu.cheeses.size()}">Cheeses:
            <ul>
                <li th:each="cheese : ${menu.cheeses}"><a th:href="@{'/cheese/edit/' + ${cheese.id}}" th:text="${cheese.name}"></a></li>
            </ul>
        </div>

        <p><a th:href="'/menu/add-item/' + ${menu.id}">Add a Cheese</a></p>

    </body>
</html>