<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity" >
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">My Cheeses</title>
    <!--Include following line to allow for mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" crossorigin="anonymous" />
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav th:fragment="navigation">
    <a href="/cheese">Cheeses</a> |
    <a href="/category">Categories</a> |
    <a href="/menu">Menus</a> |
    <a href="/user">Users</a> |
    <a sec:authorize="!isAuthenticated()" href="/user/login/username">Login</a>
    <a sec:authorize="isAuthenticated()" href="/user/logout">Logout
        <form th:action="@{/user/logout}" method="post" th:hidden="true" >
            <input type="submit" value="Logout" />
        </form>
    </a>
    <span sec:authorize="isAuthenticated()" class="float-right">
        <!-- User-Info Popover -->
        <a class="btn btn-warning" data-placement="top"
           data-popover-content="#a1" data-toggle="popover"
           data-trigger="focus" href="#"
           sec:authentication="name">username</a>

        <!-- Content for User-Info Popover -->
        <div class="hidden" id="a1">
          <div class="popover-heading" hidden="true">
            <a href="#">My Account</a>
          </div>

          <div class="popover-body" hidden="true">
            <a href="/menu">My Menus</a>
          </div>
        </div>
    </span>

    <script> <!-- JS for Popover -->
        $(document).ready(function(){
            $("[data-toggle=popover]").popover({
                html : true,
                content: function() {
                  var content = $(this).attr("data-popover-content");
                  return $(content).children(".popover-body").html();
                },
                title: function() {
                  var title = $(this).attr("data-popover-content");
                  return $(title).children(".popover-heading").html();
                }
            });
        });
    </script>
</nav>

<div th:fragment="authentication">
    <div sec:authorize="isAuthenticated()">Text for authenticated users.</div>
    <div sec:authorize="isFullyAuthenticated()">Text for FULLY authenticated users.</div>
    <div sec:authorize="hasAuthority('USER')">Text for a user.</div>
    <div sec:authorize="hasAuthority('ADMIN')">Text for an admin.</div>
    <div sec:authorize="isAuthenticated()">User role(s):
        <span sec:authentication="principal.authorities">username</span>
    </div>
</div>


</body>
</html>