<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity" >
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">My Cheeses</title>
    <!--Include following line to allow for mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1" />


    <!--
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" crossorigin="anonymous" />
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
<body>

<nav th:fragment="navigation">
    <a href="/cheese">Cheeses</a> |
    <a href="/category">Categories</a> |
    <a href="/menu">Menus</a> |
    <a href="/user">Users</a> |
    <a sec:authorize="!isAuthenticated()" href="/user/login/username">Login</a>
    <a sec:authorize="isAuthenticated()" href="/user/logout">Logout
        <form th:action="@{/user/logout}" method="post" th:hidden="true" >
            <input type="submit" value="Logout" />
        </form>
    </a>
</nav>

<div th:fragment="authentication">
    <div sec:authorize="isAuthenticated()">Text for authenticated users.</div>
    <div sec:authorize="hasRole('USER')">Text for a user.</div>
    <div sec:authorize="hasRole('ADMIN')">Text for an admin.</div>
</div>

</body>
</html>